/* #indexBody{
    background-image: url("theShire.jpg");
    height: auto;
    background-size: auto;
    background-repeat: no-repeat;
} */

html { 
    background: url("theShire.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }

.colorOverlay {
    background-color: rgba(215, 247, 211, 0.722);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-box{
    background-color:rgb(64, 120, 64);
    color:white;
}

.nav{
    width:100%;
    top:0;
    position: fixed;
    background-color:rgb(240, 196, 20);
    /* box-shadow: (50, 50, 50, black); */
    color: white;
}

.titleFont{
    font-family: 'MedievalSharp', cursive;
}

.button-hover:hover{
    background-color: rgb(0, 129, 0);
    color:rgb(184, 136, 14);
}

body {
    padding-bottom: 25px;
}

h1, h2, form {
	text-align: center;
}

h1 {
	margin-top: 20px;
}